<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>c:/tmp/tmp.log</file>
    	
    	<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
    		<charset>UTF-8</charset>
	        <layout class="ch.qos.logback.classic.PatternLayout">
	        	<maskPattern>(\d+\.\d+\.\d+\.\d+)</maskPattern>
	            <Pattern>
                	%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
	            </Pattern>
	        </layout>
    	</encoder>
    	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
    		<fileNamePattern>${LOG_DIR}/logging-test-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
    		<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
    			<maxFileSize>50MB</maxFileSize>
    		</timeBasedFileNamingAndTriggeringPolicy>
    		
    		<!-- 로그파일 최대 보관주기 60일 -->
    		<maxHistory>60</maxHistory>
    	</rollingPolicy>
    </appender>

    <logger name="ppori" level="info" />

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLING_FILE"/>
    </root>

<typeAliases></typeAliases>
</configuration>


